You can edit your Inspirational Devotion entry below
<br><br>

<form class="" action="/devotion_entries/<%= @devotion_entry.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="content">Devotion:</label>
    <br><br>
    <textarea name="content" style="width:auto; height:auto;"><%= @devotion_entry.content %></textarea>
    <br><br>
    <input type="submit" name="" value="Edit Entry">
</form>