<h2>You can write a new short Inspirational Devotion here: </h2>

<form class="" action="/devotion_entries" method="post">
    <label for="content">Content</label>
    <input type="text" name="content" value="">
    <input type="submit" name="" value="Create Devotion">
</form>
