SHOW PAGE FOR A DEVOTION ENTRY

<p><%= @devotion_entry.content%></p>


 <% if authorized_to_edit?(@devotion_entry)%>
    <a href="/devotion_entries/<%= @devotion_entry.id %>/edit">Edit Entry</a>
    
    Delete Link
<% end %>